* {
    font-family: "Libre Baskerville", serif;
    margin: 0;
}

:root {
    --background: #fff7df;
    --item-box: #fffbef;
    --object: #b3a885;
    --desc: #ffe7be;
}

html {
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 10000px;
    background-color: var(--background);
}

h1 {
    
    font-size: clamp(0vw, 7vw, 100vw);
    
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 10;
    text-align: center;
    transition: left .2s ease;
    left: 0;
    right: 0;
    position: relative;
}

h2 {
    font-weight: 100;
    padding: 20px;
    left: 0;
    right: 0;
    position: relative;
    transition: left .2s ease;
}

h3 {
    padding: 20px;
    font-size: medium;
    font-weight: 100;
}

h4 {
    font-weight: 100;
    padding: 20px;
    left: 0;
    right: 0;
    position: relative;
    transition: left .2s ease;
    text-align: center;
}

h5 {
    font-weight: 100;
    font-size: smaller;
    text-align: center;
}

.hidden-text {
    transition: height ease .2s;
    border-bottom: black 1px solid;
}

.blue {
    color: blue;
}

.vert-container {
    display: flex;
    height: 100%;
    width: 60%;
    flex-direction: column;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    object-fit: cover;
    align-items: center;

}

.container img {
    border-radius: 100%;
    max-width: 30%;
    aspect-ratio: 1 / 1;
    transition: all .2s ease;
    object-fit: cover;
    
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
}

.container img:hover {
    transform: scale(1.1) rotate(15deg);

}

video {

    /* height: 70%; Ensure the height scales with the width */
    max-height: 100%;
    object-fit: cover;
    /* Cover ensures the video maintains its aspect ratio */
    border-radius: 15px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
    flex-shrink: 1;
    /* Allow the video to shrink within the container */
    transition: all ease .2s;
}

video:hover {
    transform: scale(1.1);
}

.sliding-box-card {
    width: 400px;
    height: 200px;
    outline: gray 1px solid;
    outline-offset: -1px;
    background-color: var(--item-box);
    border-radius: 15px;
    /* box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3); */
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
    position: relative;
    right: 0;
    transition: all ease .2s;
    transform-origin: bottom;
    font-size: 80%;
}

.sliding-box-card img {
    width: 30%;
    box-shadow: none;
}

.img-cont {
    width: 50%;
    overflow: hidden;
    
}

@media (max-width: 768px) {
    .sliding-box-card {
        width: 200px;
        height: 100px;
    }



    .title-bar {
        position: sticky;
        background-color:#fff7df;
        z-index: 100;
        top: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .container {
        flex-direction: column;
    }

    .container img {
        max-width: 50%;
    }

    .nav-bar {
        height: 40px;
        width: 40px;
        border-radius: 10px;
        /* border: 1px solid black; */
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .bar {
        width: 80%;
        height: 2px;
        background-color: black;
        border-radius: 10px;
    }

    .menu-items {
        position: fixed;
        z-index: 1001;
        width: 200px;
        height: 100%;
        right: -200px;
        top: 0;
        transition: all ease-in-out .2s;
        transform-origin:right;
        transform: scaleY(1);
        background-color: var(--background);
        box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.3);
    }

    .x {
        font-size: 40;
        content: "\292C";
        display: flex;
        text-align: center;
        height: 40px;
        justify-content: flex-start;
        padding-right: 20px;
        padding-left: 20px;
        align-items: center;
    }

    .center-flex {
        display: flex;
        justify-content: center;
        width: 100%;
        /* padding-top: 100px;
        padding-bottom: 100px; */
    }


    .column-center-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .nav-bar-item {
        border-bottom: 1px solid black;
        padding: 30px;

        text-align: center;
    }

    .hide {
        transform: scaleY(0);
        transition: transform ease-in-out .2s;
    }

    .show {
        height: max-content;
    }

    .about-me-desc {

        width: 80%;
        /* height: 600px; */

        background-color: var(--object);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: end;
        align-self: normal;
        box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        height: auto;
        transition: all .2s ease;
    }

    .about-me-desc-img-container {
        width: 100%;
        height: 100%;
        display: flex;

        position: relative;
        border-radius: 0px 0px 15px 15px;
    }

    h2 {
        padding: 0;
    }

    .text-wrapper {
        width: 80%;
        font-size: 10px;
        padding-bottom: 20px;
        align-self: center;
        height: max-content;

    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        height: 1px;
        width: 1px;
        position: relative;
        bottom: 150px;
        transition: transform .1s ease-in-out;
    }


    .center-flex {

        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: end;
        justify-content: space-around;

        padding-bottom: 100px;
    }

    .project-box-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 40px;
    }

    .vert-container {
        align-items: center;
        border-bottom: 1px black solid;
    }

    video {
        width: 80%;
    }

    .special-video {
        width: 200px;
    }

    .class {
        font-size: .75rem;
    }

    .hidden-text {
        font-size: small;
    }

    .img-cont {
        width: 100%;
    }
    .about-me-container {
        display: flex;
        height: 1500px;
        width: 100%;
        flex-direction: column;
        background-color: aqua;
        justify-content: space-around;
        font-size: small;
        align-items: center;
    }
    .resume-cont {
        width: 100%;

    }
}

@media (min-width: 769px) {
    .resume-cont {
        width: 30%;
        
    }
    .about-me-container {
        display: flex;
        height: 600px;
        width: 100%;
        flex-direction: row;
        background-color: aqua;
        justify-content: space-around;
        align-items: center;
    }

    
    .img-cont {
        border-radius: 0px 10px 10px 0px;
    }
    .sliding-box-card:hover {
        transform: scale(1.2);
        z-index: 2;
    }

    .nav-bar {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        display: flex;
    }

    .nav-bar-item {
        height: max-content;
        width: max-content;
        position: relative;
        cursor: pointer;
    }

    .nav-bar-item::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        background-color: black;
        bottom: -2px;
        left: 0;
        transition: width ease-in-out, .2s;
    }

    .menu-items {
        position: sticky;
        top: 0;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--background);
        z-index: 100;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .nav-bar-item:hover::after {
        width: 100%;
    }

    .about-me-desc {

        width: 80%;
        height: 600px;
        background-color: var(--object);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-align: end;
        align-items: center;
        box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);

    }

    .about-me-desc-img-container {
        width: 100%;
        height: 100%;
        display: flex;
        
        position: relative;
        border-radius: 100px;

    }

    .text-wrapper {
        max-height: 100%;
        width: 50%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .text-wrapper::-webkit-scrollbar {
        width: 12px;
    }

    .text-wrapper::-webkit-scrollbar-track {

        border-radius: 0px 15px 15px 0px;

    }

    .text-wrapper::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background: white;

    }



    .center-flex {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 15px;
        height: 20px;
        width: 20px;
        transition: transform .1s ease-in-out;

    }

    .project-box-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        padding-bottom: 80px;
        height: 400px;
    }

    .vert-container {
        border-top: 1px black solid;
        /* border-bottom: 1px black solid; */
    }

    .just-left {
        align-items: start;
    }

    .just-right {
        align-items: end;
    }

    video {
        width: fit-content;
        max-width: 30%;
    }
}

/* .project-box {
    width: clamp(20%, 100%, 30%);
    height: 300px;
    background-color: blueviolet;
} */



.video-container {
    width: 600px;
    height: 300px;
    background-color: #b3a885;
    /* Just for visual confirmation */
    overflow: hidden;
    /* Keeps video content within bounds */
}

.right {

    rotate: -45deg;

}

.left {
    rotate: 135deg;
}

.move-left {
    left: 100%;
}

.move-right {
    right: 100%;
}

.arrow:hover {
    transform: scale(2);
}



.about-me-desc-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;

}